@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
    --vermelho: #8E2424;
    --preto: #101828;
    --cinza: #667085;
    --cinza-medio: #98A2B3;
    --cinza-claro: #EAECF0;
    --cinza-claro-bg: #F9FAFB;
    --branco: #fff;
    --vermelho-claro: hsla(0, 60%, 35%, 0.05);
}
body, html {
    overflow-x: hidden;
    color: var(--preto);
}
* {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}
a{
    color: #000;
    text-decoration: none;
}
.small {
    font-size: 0.8em;
}
.big {
    font-size: 3rem;
}
.bold {
    font-weight: 600;
}
.button {
    cursor: pointer;
    background-color: var(--vermelho);
    padding: 0.75em 1em;
    border-radius: 0.5em;
    color: var(--branco);
}
.red {
    color: var(--vermelho);
}
.grey {
    color: var(--cinza)
}
.medium-grey {
    color: var(--cinza-medio);
}
button {
    -webkit-appearance: none;
    -moz-appearance: none;
    border: none;
}

/* NAVBAR */
.nav_bar {
    height: 2em;
    width: 100%;
    padding: 1em;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    font-size: 0.9em;
}
.nav_bar > div {
    display: flex;
    align-items: center;
    gap: 1em;
}
.nav_logo {
    justify-self: center;
    gap: 0.5em !important; 
}
.nav_buttons {
    justify-self: center;
}
.nav_links {
    display: inline-flex;
    gap: 2em;
}

/* CABEÇALHO */
.cabecalho {
    width: 100%;
    display: flex;
    justify-content: center;
}
.cabecalho_conteudo {
    height: 30vh;
    width: 70%;
    gap: 1.5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    line-height: 1.5em;
}

/* METRICAS */
.metricas {
    margin: 1em 3em;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 1em;
}
.metricas_container {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

/* VAGAS */
.vagas{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.vagas_intro{
    margin-top: 4em;
    gap: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.vagas_intro > span {
    background-color: rgba(142, 36, 36, 0.05);
    padding: 0.5em;
    border-radius: 1em;
}
.vagas_img {
    margin: 2em 1em 3em;
    width: 90%;
}
.vagas_container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.vaga_secao {
    width: 60%;
    margin-bottom: 2em;
}
.vaga_card {
    margin: 1em 0;
    border: 1px solid var(--cinza-claro);
    padding: 1em;
    display: flex;
    flex-direction: column;
    gap: 2em;
    border-radius: 1em;
}
.vaga_info {
    display: inline-flex;
    gap: 2em;
}

/* DEPOIMENTOS */
.depoimentos {
    width: 100%;
    display: flex;
    justify-content: center;
}
.depoimentos_container {
    width: 80%;
    padding: 3em 2em;
    border-radius: 1em;
    background-color: var(--vermelho-claro);
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 1.5em;
}
.depoimentos_autor{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5em;
}

/* RODAPÉ */
.rodape {
    margin-top: 4em;
    width: 100%;
    background-color: var(--cinza-claro-bg);
    padding: 4em 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
}
.rodape p{
    font-size: 0.9em;
}
.newsletter {
    display: inline-flex;
    justify-content: center;
    gap: 1em;
    width: 50%;
    margin: 1em auto;
}
.newsletter_input {
    width: min(50%, 20em);
    border: none;
    padding: 1em;
    box-shadow: 0px 0px 3px var(--cinza-medio);
    border-radius: 0.5em;
    transition: all 0.2s;
    color: var(--cinza-medio);
}
.newsletter_input:focus {
    color: var(--cinza);
    box-shadow: 0px 0px 3px 1px var(--cinza-medio);
}